.ch-badge {
  background-color: #F5F5F5FF;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 10px;
  margin: 0 4px;
}

.ch-open {
  background-color: #45818E;
}

.ch-in_progress {
  background-color: #4DA400;
}

.ch-blocked {
  background-color: #DC5766;
}

.ch-review {
  background-color: #409600;
}

.ch-to_verify {
  background-color: #A6E0FC;
}

.ch-ready_to_release {
  background-color: #7DBD36;
}

.ch-rejected {
  background-color: #FFC8EA;
}

.ch-default {
  color: black;
}